@import '../../common/styles/variables.scss';

.chart-data-box {
  padding: $metric-base;
}

.chart-data-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: $metric-base;
} 


.add-button {
  height: $metric-base + $metric-x-small;
  width: $metric-large * 2;
  font-family: $font-default;
  font-size: $metric-m-small;
  background: $color-darkblue;
  margin-right: $metric-base;
}

.add-button:last-child {
  margin-right: 0;
}

.button-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-family: $font-default;
  font-size: $metric-m-small;
  margin-right: $metric-x-small;
}

.add-column-button {
  height: $metric-base;
  width: $metric-xx-large;
  margin-right: $metric-small;
  font-size: $metric-m-small;
}

.column-input {
  padding: $metric-x-small;
  font-family: $font-default;
  font-size: $metric-m-small;
  margin-bottom: $metric-small;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: $metric-small;
}