@import '../../../common/styles/variables.scss';

.header {
    padding-top: $metric-base;
    padding-bottom: $metric-base;
    min-width: $metric-xx-large;
    background-color: $color-darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-avatar{
    cursor: pointer;
}
