@import '../../common/styles/variables.scss';

.choose-chart-type-wrapper {
  display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: $color-brighterblue;
}

.choose-chart-type {
  width: 100%;
	background-color: $color-brighterblue;
	display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content {
  padding: $metric-large;
  font-family: $font-default;
  color: $color-lightgrey;

  &__huge-title {
    font-size: $metric-med;
    margin-bottom: $metric-med;
  }

  &__title {
    font-size: $metric-base;
    margin-top: $metric-x-small;
    margin-bottom: $metric-x-small;

    &--saved {
      font-size: $metric-base;
      margin-bottom: $metric-med;
      margin-top: $metric-med - $metric-small;
    }
  }

  &__subtitle {
    font-size: $metric-small;
  }
}

@media only screen and (max-width: 1024px) {
  .title-block {
    padding: $metric-x-small;
  }

  .choose-chart-type {
    margin-top: $metric-med;
  }
}

.chart-types {
  margin-top: $metric-med;
  margin-bottom: $metric-base;
  display: flex;
  flex-wrap: wrap;
}

.chart-box {
  width: $metric-xx-large * 2;
  height: $metric-xx-large * 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $metric-x-small;
  margin-right: $metric-small;
  margin-bottom: $metric-small;
  background-color: $color-thebrightestblue;
  border: 1px solid $color-thebrightestblue;

  transition: background-color 1s linear;

  &:hover {
    font-size: $metric-base;
    cursor: pointer;
    border: 1px solid $color-darkpink;
  }

  &--saved {
    border: 1px dashed $color-darkpink;
  }
}

.chart-label {
  font-family: $font-default;
  font-size: $metric-small;
  margin-top: $metric-small;

}

.chart-sublabel {
  font-family: $font-default;
  font-size: $metric-base / 2 + 2px;
  text-align: justify;
  margin: $metric-x-small $metric-base $metric-x-small $metric-base;
}

.chart-box-saved {
  width: $metric-xx-large * 2;
  height: $metric-xx-large * 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $metric-x-small;
  margin-right: $metric-small;
  margin-bottom: $metric-small;
  background-color: $color-thebrightestblue;
  border: 1px solid $color-thebrightestblue;

  &:hover {
    cursor: pointer;
    border: 1px solid $color-darkpink;
  }
}