@import '../../common/styles/variables.scss';

.recover-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-darkblue;
}

.recover-password-wrapper__content {
    width: $metric-x-large*6;

    &__logo {
        display: flex;
        margin-top: $metric-med;
        margin-bottom: $metric-med;
    }

    &__header {
        font-size: $metric-base;
        font-weight: $font-weight-medium;
        color: $color-lightgrey;
        margin-bottom: $metric-x-small;
    }

    &__subheader {
        font-size: $metric-small;
        font-weight: $font-weight-medium;
        color: $color-lightblue;
        margin-bottom: $metric-base;
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        padding-bottom: $metric-base /2;
    }

}

.recover-password-wrapper__content__footer {
    display: flex;
    justify-content: center;
    color: $color-lightgrey;
    margin-top: $metric-base;
    margin-bottom: $metric-base;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $metric-base;

    &__title {
        font-size: $metric-base;
        font-weight: $font-weight-bold;
        font-family: $font-default;
        color: $color-lightgrey;
    }

    &__subtitle {
        font-size: $metric-small;
        font-weight: $font-weight-medium;
        font-family: $font-default;
        color: $color-lightgrey;
    } 
}

.error-box {
    display: flex;
    padding: $metric-base /2;
    margin-bottom: $metric-base;
    border-left: 5px solid $color-error;
    box-shadow: 0 11px 34px 0 rgba(0,0,0,0.08);
    color: $color-darkblue;
    background-color: $color-white;
    font-size: 14px;
    border-radius: 3px;
}

