@import '../../../../common/styles/variables.scss';

.color-section-header {
	height: $metric-base;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color-lightgrey;
  cursor: pointer;
  padding-right: $metric-x-small / 2;
  padding-left: $metric-x-small / 2;
  margin-bottom: $metric-small;
}

.option-as-header {
  font-size: $metric-m-small;
  color: $color-lightgrey;
}

.color-button {
  width: $metric-med;
  height: $metric-base;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $color-white;
}

.color {
  width: $metric-med - $metric-x-small;
  height: $metric-base - $metric-x-small;
}