@import '../../../common/styles/variables.scss';

.context-menu-container {
  display: flex;
  position: relative;
}

.context-menu {
  display: none;
  width: $metric-xx-large*2;
  min-height: $metric-med;
  position: absolute;
  z-index: $zindex-context-menu;
  background-color: $color-darkblue;
  color: white;
  border-radius: $metric-x-small;

  &--is-shown {
    display: flex;
    flex-direction: column;
  }
}

.trigger {
  cursor: pointer; 
  outline: none;
}
  

.rightTop {
  bottom: 0;
  left: $metric-x-large;
}
  
.leftBottom {
  top: 40px;
  right: 31px;
} 

.bottom {
  top: $metric-xx-large - $metric-small;
  right: 0;
}
