@import '../../../common/styles/variables.scss';

.context-menu-container {
  display: flex;
  position: relative;
}

.trigger {
  cursor: pointer;
  outline: none;
}

.context-menu {
  display: none;
  transition: opacity 5s ease-in;
  padding: $metric-small;

  width: $metric-xx-large*2;

  position: absolute;
  z-index: 10000;

  background-color: $color-darkblue;
  color: white;
  border: 2px solid $color-brighterblue;

  &--is-shown {
    display: block;
  }
}

.rightTop {
  bottom: 100%;
  left: 100%;
}
  
.rightBottom {
  top: 100%;
  left: 100%;
}