@import '../../../common/styles/variables.scss';

.options-sidebar {
    padding-top: $metric-base;
    padding-bottom: $metric-base;
    margin: $metric-x-small;
    min-width: $metric-xx-large*4;
    background-color: $color-darkblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

