@import '../../../../common/styles/variables.scss';

.option-section-header {
	height: $metric-base;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color-lightgrey;
  cursor: pointer;
  padding-right: $metric-x-small / 2;
	padding-left: $metric-x-small / 2;
	margin-bottom: $metric-small;
}

.icon {
	transform: rotate(90deg);
}

.option-as-header {
  font-size: $metric-m-small;
  color: $color-lightgrey;
}