@import '../../../../common/styles/variables.scss';

.option-section-header {
	height: $metric-base;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color-lightgrey;
  cursor: pointer;
  padding-right: $metric-x-small / 2;
	padding-left: $metric-x-small / 2;
	padding-bottom: $metric-x-small / 2;
	margin-bottom: $metric-small;
	border-bottom: 1px solid $color-lightgrey;
}

.icon {
	transform: rotate(90deg);
}

.option-as-header {
	font-size: $metric-m-small;
	font-weight: bold;
  color: $color-lightgrey;
}