@import '../../../common/styles/variables.scss';

.dataset {
  display: flex;
  flex-wrap: wrap;
  width: $metric-small;
  height: 0px;
  transition: all .3s ease-in-out;

	&:hover {
    transform: scale(1.2);
    cursor: pointer;
	}
}

.dataset-item-small {
  width: $metric-x-small + $metric-x-small/4;
  height: $metric-x-small + $metric-x-small/4;
  margin-right: $metric-x-small / 4;
  margin-bottom: $metric-x-small / 4;
  border-radius: 50%;
  transition: all .3s ease-in-out;

	&:hover {
    transform: scale(1.2);
    cursor: pointer;
	}
}