@import '../../common/styles/variables.scss';

.dashboard-wrapper {
  display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: $color-thebrightestblue;
}

.user-info-section {
	padding-top: $metric-base;
	padding-bottom: $metric-base;
	min-width: $metric-xx-large*4;
	background-color: $color-brighterblue;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-charts {
	display: flex;
	flex-direction: column;
	background-color: $color-thebrightestblue;

	&__title {
		font-family: $font-default;
		color: $color-lightgrey;
		font-size: $metric-med;
		margin: $metric-med;
	}
}

.temp1 {
	color: white;
	margin: 24px;
}

.temp2 {
	color: white;
	margin-left: 52px;
}