@import '../../../common/styles/variables.scss';

table {
  font-family: $font-default;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

td, th {
  text-align: left;
  padding: 8px;
  font-size: $metric-m-small;
  color: $color-lightgrey;
}

tr:nth-child(even){
  background-color: #38435a;
}

tr:hover {
  background-color: #38435a;
  cursor: pointer;
}

td:last-child {
  border: 0px;
  width: $metric-small;
}

.remove-button {
  cursor: pointer;
}
