@import '../../common/styles/variables.scss';

.header {
    padding-top: $metric-base;
    padding-bottom: $metric-base;
    min-width: $metric-xx-large;
    background-color: $color-darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
    -moz-box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
    box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
}

.sign-out-button {
    width: 100%;
    margin-top: $metric-small;
    margin-bottom: $metric-small;
    margin-left: $metric-small;
    text-align: left;
}

.link {
    padding-left: $metric-small;
    padding-top: $metric-x-small;
    padding-bottom: $metric-x-small;
}