@import '../../common/styles/variables.scss';

.header {
    padding-top: $metric-base;
    padding-bottom: $metric-base;
    min-width: $metric-xx-large;
    background-color: $color-darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
    -moz-box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
    box-shadow: 6px -1px 86px 0px rgba(32,38,52,1);
}

.user-avatar{
    cursor: pointer;
}

.user-context-menu {
    position: absolute;
    z-index: $zindex-context-menu;
    width: $metric-xx-large*2;
    height: $metric-xx-large*2;
    display: flex;
    flex-direction: column;
    bottom: $metric-x-large;
    left: $metric-x-large;
    background-color: $color-darkblue;
    border: 1px solid $color-lightblue;

    &__user-info {
        display: flex;
        height: $metric-med;
        align-items: center;
        justify-content: center;
    }
}