@import '../../../common/styles/variables.scss';

.avater-with-name-wrapper {
	display: flex;
	justify-content: flex;
	flex-direction: column;
	align-items: center;
	margin-top: $metric-med - $metric-x-small;
}

.with-bottom-border {
	border-bottom: 2px solid $color-thebrightestblue;
}

.name {
	font-family: $font-default;
	font-size: $metric-small;
	padding-right: $metric-small;
	padding-left: $metric-x-small;
	color: $color-lightgrey;
	margin-top: $metric-small;
}

.email {
	font-family: $font-default;
	font-size: $metric-small;
	padding-right: $metric-small;
	padding-left: $metric-x-small;
	color: $color-lightgrey;
	margin-top: $metric-x-small;
}