@import '../../../common/styles/variables.scss';

.avater-with-name-wrapper {
    display: flex;
    justify-content: flex;
    align-items: center;
    padding: $metric-x-small;
}

.with-bottom-border {
    border-bottom: 2px solid $color-thebrightestblue;
}

.name {
    font-family: $font-default;
    font-size: $metric-small;
    padding-right: $metric-x-small;
    padding-left: $metric-x-small;
}