@import '../../../common/styles/variables.scss';

.button {
  font-family: $font-default;
  font-size: $metric-small;
  font-weight: $font-weight-medium;
  height: $metric-med;
  border-radius: $metric-x-small /2;
  border: 0;
  margin-bottom: $metric-base /2;
  user-select: none;  

  &:focus {
    outline: 0;
  }
}

.button[disabled] {
  background: $color-lightblue;
  color: $color-lightgrey;

  &:hover {
    box-shadow: 0 0 0;
    cursor: not-allowed;
    color: $color-lightgrey;
  }
}

.button-primary {
  width: 100%;
  background: $color-darkpink;

  &:hover {
    -webkit-box-shadow: 0px 2px 31px -4px rgba(235,30,99,1);
    -moz-box-shadow: 0px 2px 31px -4px rgba(235,30,99,1);
    box-shadow: 0px 2px 31px -4px rgba(235,30,99,1);
  }
}

.button-link {
  padding: 0px;
  background: transparent;
}

.button-social {
  width: $metric-med * 3;
  height: $metric-med;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-lightgrey;
  background: transparent;

  &:hover {
    border: 1px solid $color-white;
  }
}

.light {
  color: $color-lightgrey;

  &:hover {
    cursor: pointer;
    color: $color-white;
  }
}

.pink {
  color: $color-darkpink;
  
  &:hover {
    cursor: pointer;
    color: $color-darkpink;
    font-weight: $font-weight-demi;
    border: 0px;
  }
}