@import '../../../common/styles/variables.scss';

.settings-wrapper {
	padding-right: $metric-base;
  padding-left: $metric-base;
}

.option-wrapper {
	display: flex;
	justify-content: space-between !important;
	align-items: center;
	justify-content: center;
	margin-bottom: $metric-small;
	padding-right: $metric-x-small / 2;
	padding-left: $metric-x-small / 2;
}

.label-wrapper {
	display: flex;

	&__label {
		margin-right: $metric-small;
		font-size: $metric-m-small;
		font-family: $font-default;
		$font-weight: $font-weight-medium;
		color: $color-lightgrey;
	}
} 

.label-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $metric-small + $metric-x-small/2;
	height: $metric-small + $metric-x-small/2;;
	background-color: #38435a;
	border-radius: $metric-x-small;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.3);
	}
}

.label {
	font-size: $metric-m-small;
	font-family: $font-default;
	$font-weight: $font-weight-medium;
	color: $color-lightgrey;
}

.option-wrapper-column {
	display: flex;
	flex-direction: column;
	margin-bottom: $metric-small;
	padding-right: $metric-x-small / 2;
	padding-left: $metric-x-small / 2;

	&__label {
		font-size: $metric-m-small;
		font-family: $font-default;
		$font-weight: $font-weight-medium;
		color: $color-lightgrey;
	}
}

.margin-bottom {
	margin-bottom: $metric-small;
}

.opened-section {
	color: $color-darkpink;
}

.closed-section {
	color: $color-white;
}

.custom-dropdown {
	height: $metric-base;
	width: 160px;
	padding: 2px 52px 2px 10px;
	border-radius: 5px;
}

.custom-placeholder {
	font-size: $metric-m-small;
	font-family: $font-default;
	color: $color-black;
}

.custom-arrow {
	top: $metric-x-small;
	color: $color-black;
}

.compact-picker {
	width: 100% !important;
	padding-top: $metric-x-small !important;
	padding-left: $metric-x-small !important;
}

.option-settings {
	height: $metric-base;
}

.title-input {
	margin: 0;
	padding: $metric-x-small / 4;
	padding-left: $metric-x-small;
	padding-right: $metric-x-small;
	height: $metric-base;
	border: 0;
	color: $color-white;
	font-size: 14px;
	margin-left: $metric-base;

	&:focus {
		border: 0;
	}
}

.tooltips-input {
	margin: 0;
	padding: $metric-x-small / 4;
	padding-left: $metric-x-small;
	padding-right: $metric-x-small;
	height: $metric-base;
	border: 0;
	color: $color-white;
	font-size: 14px;

	&:focus {
		border: 0;
	}
}

.tooltips-input-container {
	width: $metric-x-large * 2;
}