@import '../../common/styles/variables.scss';

.home-wrapper {
  display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: $color-thebrightestblue;
}

.splitter-layout {
	position: static!important;
}

.splitter-layout > .layout-splitter {
  flex: 0 0 auto;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: $color-brighterblue;
}
