@import '../../common/styles/variables.scss';

.home-wrapper {
    display: flex;
    height: 100vh;
    background-color: $color-thebrightestblue;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}