@import '../../common/styles/variables.scss';

.home-wrapper {
  display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: $color-thebrightestblue;
}

.main-content {
	display: flex;
	flex-direction: column;
	width: calc(100vw - #{$metric-xx-large*5});
	height: 100vh;
	margin: 24px;
}

