@import '../../common/styles/variables.scss';

.login-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: $color-darkblue;

    .login-header {
        display: flex;
        align-items: center;
        padding: $metric-x-small;
        margin: $metric-small;

        .app-name {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $metric-x-small /2;
            margin-left: $metric-x-small;
            font-size: $metric-base;
            font-weight: $font-weight-bold;
            color: $color-lightgrey;
        }
    }

    .login-content {
        display: flex;
        justify-content: center;
        margin: $metric-small $metric-small $metric-xx-large *2 $metric-small; 
        padding: $metric-x-small;

        .login-form {
            width: $metric-x-large*4;

            .login-form-header{
                font-size: $metric-base;
                font-weight: $font-weight-medium;
                color: $color-lightgrey;
                margin-bottom: $metric-base;
            }

            .login-by-social-accounts {
                display: flex;
                justify-content: space-between;
            }

            .divider {
                display: flex;
                align-items: center;
                color: $color-lightgrey;
                margin-bottom: $metric-small;
            }
              
            .divider::before {
                content: '';
                flex-grow: 1;
                background: $color-lightgrey;
                height: 1px;
                margin-right: $metric-base;
            }
              
            .divider::after {
                content: '';
                flex-grow: 1;
                background: $color-lightgrey;
                height: 1px;
                margin-left: $metric-base;
            }

            .forgot-password {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .login-footer {
        display: flex;
        justify-content: center;
        color: $color-lightgrey;
        margin-top: $metric-base;
        margin-bottom: $metric-base;

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $metric-small;
            font-weight: $font-weight-medium;
            margin-right: $metric-base /2;
            margin-bottom: $metric-base /2;
        }
    }

    .loader-container {
        display: flex;
        justify-content: center;
        padding-bottom: $metric-base /2;
    }

    .error-box {
        display: flex;
        padding: $metric-base /2;
        margin-bottom: $metric-base;
        border-left: 5px solid $color-error;
        box-shadow: 0 11px 34px 0 rgba(0,0,0,0.08);
        color: $color-darkblue;
        background-color: $color-white;
        font-size: 14px;
        border-radius: 3px;
    }

}